.ex1 .content div {
  width: 300px;
  height: 60px;
  margin: 20px auto;
  background-color: #DDD;
  font-size: 30px;
  text-align: center;
}

.ex1 .content div:empty {
  background-color: red;
}

.ex2 div {
  background-color: #DDD;
  width: 400px;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
}

.ex2 div::before {
  content: "1";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  padding: 8px 3px;
  left: -10px;
  top: 10px;
}

.ex3 .content p,
.ex4 .content p {
  width: 60%;
  padding: 30px;
  background-color: #DDD;
  margin: 20px auto;
  position: relative;
}

.ex3 .content p::before {
  content: attr(data-person);
  position: absolute;
  left: -150px;
  top: 10px;
  background-color: #DDD;
  padding: 20px;
  width: 70px;
  text-align: center;
}

.ex3 .content p::after {
  content: "";
  height: 100%;
  width: 1%;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
}

.ex3 .content p span::before {
  content: "";
  height: 0px;
  width: 0px;
  border: 20px solid;
  border-color: transparent crimson transparent transparent;
  position: absolute;
  top: 20px;
  left: calc(-30px - 1%);
}

.ex4 .content p {
  counter-increment: member-counter;
}

.ex4 .content p::after {
  content: "";
  height: 100%;
  width: 1%;
  background-color:#F44336;
  position: absolute;
  top: 0;
  right: 0;
}

.ex4 .content p::before {
  content: counter(member-counter);
  position: absolute;
  height: 100%;
  width: 70px;
  top: 0;
  left: -70px;
  background-color: #F44336;
  color: white;
  text-align: center;
  font-size: 25px;
  line-height: 70px;
}